html {
  --rod: #ff0000;
  --sort: rgb(0, 0, 0);
  --hvid: #ffffff;
  --antonio: "Antonio", sans-serif;
  --anton: "Anton", sans-serif;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: var(--sort);
  color: var(--hvid);
  font-family: var(--antonio);
}

body {
  background-color: var(--sort);
}

.logo {
  align-self: center;
  justify-self: center;
}

h1 {
  font-family: var(--anton);
  color: var(--hvid);
}

h2 {
  font-family: var(--anton);
  color: var(--hvid);
}

a {
  font-family: var(--anton);
  color: var(--hvid);
  text-decoration: none;
}

main {
  margin-left: 8%;
  margin-right: 8%;
}
