h1 {
  text-align: center;
}

.tekst1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column: 1fr 1fr 1fr;
}

p {
  line-height: 2rem;
  font-family: var(--antonio);
  font-size: large;
}
