.titel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.text {
  object-fit: cover;
  justify-self: center;
}

.koncerter {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-top: 20px;
}
a {
  font-family: var(--anton);
  color: var(--hvid);
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 20px;
  align-self: center;
}

h4 {
  font-family: var(--anton);
  color: var(--rod);
  font-size: 8rem;
  margin: 0;
}
.upcoming {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
}
.grid1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 4fr;
  margin: 15px;
  background-image: url(img/IMG_4948.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 4fr;
  margin: 15px;
  background-image: url(img/IMG_4962.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 4fr;
  margin: 15px;
  background-image: url(img/IMG_4960.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.dag {
  grid-row: 1/2;
  justify-self: center;
  align-self: end;
}
.nummer {
  grid-row: 2/3;
  justify-self: center;
}

.event {
  grid-row: 2/3;
  justify-self: center;
  align-self: center;
}

h2 {
  margin: 0;
}
h3 {
  font-family: var(--anton);
  color: var(--rod);
}

.dato {
}
.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  text-align: center;
}
