.titel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.text {
  object-fit: cover;
  justify-self: center;
}

.koncerter {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-top: 20px;
}
a {
  font-family: var(--anton);
  color: var(--hvid);
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 20px;
  align-self: center;
}

.grid1 h4 {
  font-family: var(--anton);
  color: var(--rod);
  font-size: 8rem;
  margin: 0;
}

.grid1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

h2 {
  margin: 0;
}
h3 {
  font-family: var(--anton);
  color: var(--rod);
}

.dato {
}
.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  text-align: center;
}
