.job p {
    max-width: 65ch;
    line-height: 30px;
} 

.frivillig {
text-align: center;
}

.video {
    width: 100%;

} 

@media (min-width: 750px) {
    .job p {
        max-width: 95ch;
        line-height: 35px;
        margin-left: 325px;
    }
    
    .video {
        width: 60%;
        margin-left: 250px;
    } 

    main {
        background-image: url(billeder/frivillig-baggrund.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
}