header {
  display: flex;
  justify-content: space-between;

  background-color: rgb(0, 0, 0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: 100px;
  height: 100px;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
  font-family: var(--antonio);
  font-weight: 100;
  font-style: normal;
  font-size: large;
}

.menu li:last-child {
  margin-right: 0;
}
.logo a {
  display: block;
  padding-left: 20px;
  transition: color 0.3s;
}

.menu a {
  display: block;
  padding: 10px;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
  font-family: var(--antonio);
}

.menu a:hover {
  color: var(--rod);
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: var(--rod);
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

.button {
  text-decoration: none;
  background-color: var(--rod);
  padding: 2px 6px 2px 6px;
  border-radius: 10px;
}
.button a:hover {
  color: var(--sort);
}

@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #000000;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
  .logo img {
    width: 70px;
    height: 70px;
  }
}
